colorama~=0.4.6
pandas~=2.1.1
requests~=2.31.0
psycopg2~=2.9.3
python-dotenv~=0.21.0
openai~=0.27.4
tenacity~=8.2.2
setuptools~=68.0.0
boto3~=1.26.76
paramiko~=2.8.1
sshtunnel~=0.4.0
pytest~=7.4.0
botocore~=1.29.76