setuptools~=68.0.0
numpy~=1.26.1
pandas~=2.1.2
wrenchcl~=1.7.2
uszipcode~=1.0.1
boto3~=1.28.78
requests~=2.31.0
paramiko~=3.3.1
psycopg2~=2.9.9
sshtunnel~=0.4.0
openai~=0.27.10
tenacity~=8.2.3
colorama~=0.4.6
pytest~=7.4.3